<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poll">
        <activity
            android:name=".item_participant"
            android:exported="false" />
        <activity
            android:name=".group_call"
            android:exported="false"
            android:label="@string/title_activity_group_call"
            android:theme="@style/Theme.Poll.NoActionBar" />
        <activity
            android:name=".room"
            android:exported="false" />
        <activity
            android:name=".preview"
            android:exported="false" />
        <activity
            android:name=".dialog_room_cration"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />

        <activity
            android:name=".CreateArgument_Activity"
            android:exported="false" />
        <activity
            android:name=".Head"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>